@charset "UTF-8";
 body{
	margin: 0;
	padding: 0;
}
 tr.headerline{
 	height: 50px;
 	background-color: #867070;
 }
 td.headertext{
 	font-size: 16px;
 	font-family: Arial;
 	text-align: center;
 	color: #F5EBEB;
 	width: 3%;
 }
 td.margin01{
 	width: 65%;
 	
 
 }
 td.margin02{
 	width: 1%;
 }
 tr.marginline{
 	height: 40px;
 }
 b.sessiontext{
 	font-size: 16px;
 	font-family: Arial;
 	color: #867070;
 }
 a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	color: inherit;
	
}
 